Repository optiq-ai/skillchain-dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "jest --findRelatedTests --passWithNoTests"
  ],
  "*.{json,md,html,css}": [
    "prettier --write"
  ]
}

Add detailed Portainer deployment instructions and docker-compose.yml
  PORTAINER_DEPLOYMENT.md
  docker-compose.yml
Due: prettier --write

Update docker-compose.yml with alternative ports to resolve port conflict
  docker-compose.yml
Due: none

Update application with expanded career paths, new authors and contact info, and application name change
  README.md
  skillchain-frontend/public/index.html
  skillchain-frontend/src/data/ai_ml_career_path.md
  skillchain-frontend/src/data/careerData.js
  skillchain-frontend/src/data/cybersecurity_career_path.md
  skillchain-frontend/src/data/database_career_path.md
  skillchain-frontend/src/data/devops_career_path.md
  skillchain-frontend/src/data/network_career_path.md
  skillchain-frontend/src/data/programming_career_path.md
  skillchain-frontend/src/data/project_management_career_path.md
  skillchain-frontend/src/i18n/locales/de/translation.json
  skillchain-frontend/src/i18n/locales/en/translation.json
  skillchain-frontend/src/i18n/locales/pl/translation.json
  skillchain-frontend/src/i18n/locales/uk/translation.json
  skillchain-frontend/src/pages/SettingsPage.js
  todo.md
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Add finance career path data to expand application beyond IT
  skillchain-frontend/src/data/careerData.js
  skillchain-frontend/src/data/career_paths/finance_career_paths.md
  skillchain-frontend/src/data/career_paths/finance_industry_report.md
  skillchain-frontend/src/data/career_paths/finance_skills.md
  skillchain-frontend/src/data/financeCareerData.js
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Fix CareerPathsPage.js to use imported career path data including finance
  skillchain-frontend/src/pages/CareerPathsPage.js
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Fix: Replace FontAwesome with emoji icons to resolve dependency issues
  skillchain-frontend/src/pages/CareerPathsPage.js
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Implement finance career path details view with specialized tabs and styling
  skillchain-frontend/src/pages/CareerPathDetailsPage.css
  skillchain-frontend/src/pages/CareerPathDetailsPage.js
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Add marketing career path with comprehensive data structure
  skillchain-frontend/src/data/careerData.js
  skillchain-frontend/src/data/marketingCareerData.js
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Add HR and Education career paths with comprehensive data structures
  skillchain-frontend/src/data/careerData.js
  skillchain-frontend/src/data/educationCareerData.js
  skillchain-frontend/src/data/hrCareerData.js
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Add additional skills and certifications to all career paths
  skillchain-frontend/src/data/educationCareerData.js
  skillchain-frontend/src/data/financeCareerData.js
  skillchain-frontend/src/data/hrCareerData.js
  skillchain-frontend/src/data/marketingCareerData.js
  skillchain-frontend/src/data/programming_career_path.md
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Fix career path details display to show complete information
  skillchain-frontend/src/pages/CareerPathDetailsPage.js
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Update career paths page layout to match design requirements
  skillchain-frontend/src/pages/CareerPathsPage.css
  skillchain-frontend/src/pages/CareerPathsPage.js
Due: eslint --fix, prettier --write, jest --findRelatedTests --passWithNoTests

Remove homepage link from sidebar by updating translation files
  skillchain-frontend/src/i18n/locales/de/translation.json
  skillchain-frontend/src/i18n/locales/en/translation.json
  skillchain-frontend/src/i18n/locales/pl/translation.json
  skillchain-frontend/src/i18n/locales/uk/translation.json
Due: prettier --write
